.card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(190, 183, 183, 0.402);
    padding: 15px;
    justify-content: space-between;
}

.imgSectin {
    background-color: rgb(225, 227, 230);
    height: 65%;
    align-content: center;
    box-shadow: var(--shadow);
}

.image {
    width: 80%;
    max-height: 80%;
    align-self: center;
    justify-self: center;
}

.content {
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
}

.title {
    grid-column: 1 / -1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    color: rgb(32, 178, 129);
}

.favoriteTag {
    font-size: 15px;
    top: 40;
    margin: 0;
    position: fixed;
}