.container {
    height: 80px;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid var(--border);
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bg);
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.deactivateNavLink {
    margin-inline: 20px;
    text-decoration: none;
}

.activateNavLink {
    margin-inline: 20px;
    text-decoration: none;
    border-bottom: 1px solid;
}

